<footer class="layout-light">
    <div class="container padding-tb-100px">
        <div class="row">

            <div class="col-lg-3 col-md-6">
                <div class="about-us sm-mb-45px">
                    <div class="logo-footer margin-bottom-35px">
                        <a href="#"><img src="assets/img/Logo-VGO.png" alt=""></a>
                    </div>
                    <div class="text margin-bottom-35px">
                        VGO, One of the leading logistics and fleet management companies in India and optimized logistics chain and transportation system. We reduce the communication gap between drivers and Industries using cutting edge technology.
                    </div>
                    <a href="#" class="nile-bottom sm">Read More</a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="nile-widget widget_nav_menu sm-mb-45px">
                    <h2 class="title">Our Services</h2>
                    <ul class="footer-menu">
                        <li><a href="#">Transport Management </a></li>
                        <li><a href="#">Logistics Solution </a></li>
                        <li><a href="#">Storage Moving </a></li>
                        <li><a href="#">Domestic Moving</a></li>
                        <li><a href="#">Intercity Logistics</a></li>
                    </ul>
                </div>
            </div>


            <div class="col-lg-3 col-md-6">
                <div class="nile-widget widget_nav_menu sm-mb-45px">
                    <h2 class="title">Site Pages</h2>
                    <ul class="footer-menu">
                        <li><a href="#">Home </a></li>
                        <li><a href="#">Company </a></li>
                        <li><a href="#">Services </a></li>
                        <li><a href="#">Privacy policy</a></li>
                        <li><a href="#">Term & Condition</a></li>
                    </ul>
                </div>
            </div>


            <div class="col-lg-3 col-md-6">
                <div class="nile-widget widget_nav_menu sm-mb-45px">
                    <h2 class="title">Location</h2>
                    <ul class="footer-menu">
                        <li><a href="#">Delhi </a></li>
                        <li><a href="#">Kolkata</a></li>
                        <li><a href="#">Mumbai</a></li>
                        <li><a href="#">Jaipur </a></li>
                        <li><a href="#">Punjab </a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div class="copy-right">
        <div class="container padding-tb-50px">
            <div class="row">
                <div class="col-lg-6">
                    <div class="copy-right-text text-lg-left text-center sm-mb-15px"><a target="_blank" href= ></a>  </div>
                </div>
                <div class="col-lg-6">
                    <!--  Social -->
                    <ul class="social-media list-inline text-lg-right text-center margin-0px text-dark">
                        <li class="list-inline-item"><a class="facebook" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li class="list-inline-item"><a class="youtube" href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                        <li class="list-inline-item"><a class="linkedin" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li class="list-inline-item"><a class="twitter" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li class="list-inline-item"><a class="rss" href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                    </ul>
                    <!-- // Social -->
                </div>
            </div>
        </div>
    </div>
</footer>