<!--============= About Us =============-->
<div class="nile-about-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 sm-mb-45px">

                <div class="section-title-right text-main-color clearfix">
                    <div class="icon"><img src="/assets/icons/title-icon-1.png" alt=""></div>
                    <h2 class="title-text">{{about}}</h2>
                </div>
                <div class="about-text margin-tb-25px">
                    <h4>5 years of experience in Logistics services</h4>
                    VGO, One of the leading logistics and fleet management company in India and optimized logistics chain and transportation system. We reduce the communication gap between driver and Industries using cutting edge technology.
                    <br> We are a client driven firm and our action is intended to offer “ease of doing business" between transportation and industry.
                </div>
                <a href="#" class="nile-bottom sm">Read More</a>

            </div>
            <div class="col-lg-6">
                <img src="assets/img/about-1.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<!--============= //About Us =============-->
