<div class="page-title">
    <div class="container">
        <div class="padding-tb-120px">
            <h1>Our Team</h1>
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">Our Team</li>
            </ol>
        </div>
    </div>
</div>



<!--  page output -->
<div class="nile-about-section">
    <div class="container">

        <!-- Title -->
        <div class="section-title margin-bottom-40px">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="icon text-main-color"> 01</div>
                    <div class="h2">Management Team</div>
                </div>
            </div>
        </div>
        <!-- // End Title -->



        <div class="row">

            <div class="col-lg-3 col-md-6">
                <div class="team layout-1">
                    <div class="img-team">
                        <img src="assets/img/team-1.jpg" alt="">
                    </div>
                    <h3>Shilpa Singh</h3>
                    <h3>Director</h3>
                    <ul class="social-list">
                        <li><a class="facebook" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a class="youtube" href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a class="google" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>


            <div class="col-lg-3 col-md-6">
                <div class="team layout-1">
                    <div class="img-team">
                        <img src="assets/img/team-2.jpg" alt="">
                    </div>
                    <h3>Kundan Singh</h3>
                    <h3>Marketing Director</h3>
                    <ul class="social-list">
                        <li><a class="facebook" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a class="youtube" href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a class="google" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>


            <div class="col-lg-3 col-md-6">
                <div class="team layout-1">
                    <div class="img-team">
                        <img src="assets/img/team-3.jpg" alt="">
                    </div>
                    <h3>Chandan Singh</h3>
                    <h3>Business Head</h3>
                    <ul class="social-list">
                        <li><a class="facebook" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a class="youtube" href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a class="google" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>


            <div class="col-lg-3 col-md-6">
                <div class="team layout-1">
                    <div class="img-team">
                        <img src="assets/img/team-4.jpg" alt="">
                    </div>
                    <h3>Vivek singh</h3>
                    <h3>Managing Director</h3>
                    <ul class="social-list">
                        <li><a class="facebook" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a class="youtube" href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a class="google" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>

        </div>


    </div>
</div>

<div class="section padding-tb-100px section-ba-2">
    <div class="container">

        <!-- Title -->
        <div class="section-title margin-bottom-40px">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="icon text-main-color"> 02</div>
                    <div class="h2">IT Team</div>
                </div>
            </div>
        </div>
        <!-- // End Title -->



        <div class="row">

            <div class="col-lg-3 col-md-6">
                <div class="team layout-3">
                    <div class="img-team">
                        <img src="assets/img/team-5.jpg" alt="">
                    </div>
                    <h3>Chandan Sharma</h3>
                    <h3>IT Head</h3>
                    <ul class="social-list">
                        <li><a class="facebook" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a class="youtube" href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a class="google" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>


            <div class="col-lg-3 col-md-6">
                <div class="team layout-3">
                    <div class="img-team">
                        <img src="assets/img/team-6.jpg" alt="">
                    </div>
                    <h3>Vishwajeet Kumar</h3>
                    <h3>Digital marketing Head</h3>
                    <ul class="social-list">
                        <li><a class="facebook" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a class="youtube" href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a class="google" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>


            <div class="col-lg-3 col-md-6">
                <div class="team layout-3">
                    <div class="img-team">
                        <img src="assets/img/team-7.jpg" alt="">
                    </div>
                    <h3>Satyam Saxena</h3>
                    <h3>Full Stack Developer</h3>
                    <ul class="social-list">
                        <li><a class="facebook" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a class="youtube" href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a class="google" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>


            <div class="col-lg-3 col-md-6">
                <div class="team layout-3">
                    <div class="img-team">
                        <img src="assets/img/team-8.jpg" alt="">
                    </div>
                    <h3>Himanshu Gupta</h3>
                    <h3>Android Developer</h3>
                    <ul class="social-list">
                        <li><a class="facebook" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a class="youtube" href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a class="google" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>

        </div>


    </div>
</div>


<div class="nile-about-section">
    <div class="container">
        <!-- Title -->
        <div class="section-title margin-bottom-40px">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="icon text-main-color"> 03</div>
                    <div class="h2">Marketing Team</div>
                </div>
            </div>
        </div>
        <!-- // End Title -->



        <div class="row">

            <div class="col-lg-3 col-md-6">
                <div class="team layout-2">
                    <div class="img-team">
                        <img src="assets/img/team-1.jpg" alt="">
                    </div>
                    <div class="padding-20px">
                        <h3>Anjali Garg</h3>
                        <div class="jop">HR</div>
                        <ul class="social-list">
                            <li><a class="facebook" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a class="youtube" href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                            </li>
                            <li><a class="linkedin" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a class="google" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            <li><a class="twitter" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6">
                <div class="team layout-2">
                    <div class="img-team">
                        <img src="assets/img/team-2.jpg" alt="">
                    </div>
                    <div class="padding-20px">
                        <h3>Punit</h3>
                        <div class="jop">BDM</div>
                        <ul class="social-list">
                            <li><a class="facebook" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a class="youtube" href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                            </li>
                            <li><a class="linkedin" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a class="google" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            <li><a class="twitter" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6">
                <div class="team layout-2">
                    <div class="img-team">
                        <img src="assets/img/team-3.jpg" alt="">
                    </div>
                    <div class="padding-20px">
                        <h3>Shamim</h3>
                        <div class="jop">Sales head</div>
                        <ul class="social-list">
                            <li><a class="facebook" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a class="youtube" href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                            </li>
                            <li><a class="linkedin" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a class="google" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            <li><a class="twitter" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6">
                <div class="team layout-2">
                    <div class="img-team">
                        <img src="assets/img/team-4.jpg" alt="">
                    </div>
                    <div class="padding-20px">
                        <h3>Vishal Singh</h3>
                        <div class="jop">Sales Head</div>
                        <ul class="social-list">
                            <li><a class="facebook" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a class="youtube" href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                            </li>
                            <li><a class="linkedin" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a class="google" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            <li><a class="twitter" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>